<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Js Discover</title>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
  <div id="app">
    <div class="container">
      <div class="row">
        <p class="jumbotron">
          <!-- v-model permet de récupérer la valeur de l'input dans le state -->
          Login : <input type="text" v-model="user">
          Vous êtes connecté en tant que {{ user }}
        </p>
      </div>

      <!-- v-if condition standard -->
      <h1 class="display-4" v-if="orders.length > 0">
        Commande
      </h1>
      <div class="row">
        <product-card v-for="order in orders">

        </product-card>
      </div>

      <!-- v-bind : la directive permet de lier (ici une class) depuis le state -->
      <h1 v-bind:class="titleClass">
        Produits disponibles
      </h1>
      <div class="row">
        <!-- On ecoute avec v-on notre event personnalisé et on lui donne une callback -->
        <!-- Avec v-bind, on peut injecter des props a notre composant, ici le product a chaque itération -->
        <product-card v-for="product in products" v-bind:name="product" v-on:order_received="makeOrder">

        </product-card>
        <!-- v-for permet de boucler sur un tableau du state -->
        <div class="col-3" v-for="product in products">
          <p class="jumbotron">
            {{ product }}
            <!-- v-on:click = ecouteur d'événement sur le btn -->
            <button v-on:click="makeOrder(product)">Commander</button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <script src="./app.js"></script>
</body>
</html>